@layout('layouts.default')
@section('title')
  <title>Dashboard</title>
@endsection
@section('hero')
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard
      </h1>
      <h2 class="subtitle">
        Halaman awal admin
      </h2>
    </div>
  </div>
</section>
@endsection
@section('content')
  <p>Dashboard</p>
@endsection